.popup-container,
.popup-container * {
    box-sizing: border-box;
}

.popup-container .imageclass img {
    position: absolute;
    bottom: 0;
}

.popup-container .imageclass img:hover {
    cursor: pointer;
}

.popup-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    /* position: fixed; */
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    transition: all 700ms ease;
}

.popup-overlay.active {
    opacity: 1;
}

.popup-container {
    position: fixed;
    background: orange;
    left: 50%;
    top: 50%;
    transform: translate(-50%,calc(-50% + 50px)); /* move from down to up transition */
    color: #fff;
    padding: 12px 0;
    box-shadow: 0 6px 55px -10px rgba(0, 0, 0, 0.7);
    /* background-image: url("Images/ad.png"); */
    background-size: cover;
    box-sizing: content-box;
    opacity: 0;
    pointer-events: none;
    transition: all 700ms ease;
    background-color: revert-layer;
}

.popup-overlay.active .popup-container {
    transform: translate(-50%,-50%);
    opacity: 1;
    pointer-events: auto;
}

.popup-container .popup-content {
    /* Size of the banner */
    width: 600px;
    height: 314px;
    padding: 16px;
    padding-left: 250px;
}

.popup-container .skip-button {
    position: absolute;
    top: 30px;
    right: 5px;
    background-color: black;
    padding: 6px 10px;  /* top&bottom left&right */
    font-size: 18px;
    cursor: pointer;
}

/* .popup-container .visit-button {
    background: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding: 4px 44px;
    margin-top: 8px;
    display: inline-block;
    position: absolute;
    bottom: 15px;
    align-items: center;
} */

/* .popup-container .visit-button:hover {
    background: #ffa07a;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding: 4px 44px;
    margin-top: 8px;
    display: inline-block;
    position: absolute;
    bottom: 15px;
    align-items: center;
} */
